
@{
    
}
    <div class="p-2 p-md-5">
      <div class="row">
    <div class="col-md-5">
        <div class="icon-box bg-orange fg-white">
            <div class="icon"><span class="mif-users"></span></div>
            <div class="content">
                <div class="p-2">
                    <div>STEP 1</div>
                    <div class="text-bold text-leader">41,400</div>
                </div>
                <div data-role="progress"
                     data-value="75"
                     data-small="true"
                     data-cls-bar="bg-white"
                     data-cls-back="bg-darkOrange"></div>
                <div class="pl-2 pr-2">
            <span class="text-small">
                70% Increase in 30 Days
            </span>
                </div>
            </div>
        </div>
        <div class="icon-box bg-orange mt-2 fg-white">
            <div class="icon"><span class="mif-lock"></span></div>
            <div class="content">
                <div class="p-2">
                    <div>STEP 2</div>
                    <div class="text-bold text-leader">41,400</div>
                </div>
                <div data-role="progress"
                     data-value="75"
                     data-small="true"
                     data-cls-bar="bg-white"
                     data-cls-back="bg-darkOrange"></div>
                <div class="pl-2 pr-2">
            <span class="text-small">
                70% Increase in 30 Days
            </span>
                </div>
            </div>
        </div>
        <div class="icon-box bg-orange mt-2 fg-white">
            <div class="icon"><span class="mif-calendar"></span></div>
            <div class="content">
                <div class="p-2">
                    <div>EVENTS</div>
                    <div class="text-bold text-leader">41,400</div>
                </div>
                <div data-role="progress"
                     data-value="75"
                     data-small="true"
                     data-cls-bar="bg-white"
                     data-cls-back="bg-darkOrange"></div>
                <div class="pl-2 pr-2">
            <span class="text-small">
                70% Increase in 30 Days
            </span>
                </div>
            </div>
        </div>
        <div class="icon-box bg-orange mt-2 fg-white">
            <div class="icon"><span class="mif-calendar"></span></div>
            <div class="content">
                <div class="p-2">
                    <div>EVENTS</div>
                    <div class="text-bold text-leader">41,400</div>
                </div>
                <div data-role="progress"
                     data-value="75"
                     data-small="true"
                     data-cls-bar="bg-white"
                     data-cls-back="bg-darkOrange"></div>
                <div class="pl-2 pr-2">
            <span class="text-small">
                70% Increase in 30 Days
            </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div data-role="panel" class="w-100"
             data-title-caption="Panel title"
             data-title-icon="<span class='mif-apps'></span>"
             data-collapsible="true">
            <table class="table" data-role="table"
                   data-show-inspector-button="true"
                   data-horizontal-scroll="true">
                <thead>
                <tr>
                    <th >Name</th>
                    <th >Office</th>
                    <th data-cls-column="bg-cyan fg-white text-center">Age</th>
                    <th data-cls-column="bg-orange fg-white text-center" >Start date</th>
                    <th data-cls-column="bg-green fg-white text-right" >Salary</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
