@{
}
<div class="p-2 p-md-5 bg-lightGray">
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex flex-align-center h-100 w-100 bg-white">
                <div class="mx-auto">
                    <div class="place-right text-medium fg-darkRed">Total Bonus</div>
                    <h1 class="text-center text-bold ">#13,889</h1>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div data-role="panel" class="w-100"
                 data-title-caption="Bonus history"
                 data-title-icon="<span class='mif-apps'></span>"
                 data-collapsible="false">
                <table class="table" data-role="table"
                       data-show-inspector-button="true"
                       data-horizontal-scroll="true">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Office</th>
                            <th data-cls-column="bg-cyan fg-white text-center">Age</th>
                            <th data-cls-column="bg-orange fg-white text-center">Start date</th>
                            <th data-cls-column="bg-green fg-white text-right">Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-md-5 order-md-2">
            <div data-role="panel" class="w-100"
                 data-title-caption="<b>Wallet to Bank</b>"
                 data-title-icon="<span class='mif-apps'></span>"
                 data-collapsible="true"
                 data-collapsed="true">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="">
                            <li>Message here</li>
                            <li>Message here</li>
                            <li>Message here</li>
                            <li>Message here</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex flex-column pr-5-md">
                            <div class="text-right">
                                <span>Bonus</span>
                                <h3 class="text-bold m-0">#38,785</h3>
                            </div>
                            <div>
                                <input type="number" name="sName" class="input my-2 input-large"
                                       data-validate="required"
                                       placeholder="Amount">
                                <button type="submit" class="button alert text-medium place-right">
                                    Transfer Now
                                </button>
                            </div>

                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 bg-white order-md-1">
            <div class="p-1">
                <b>Transfer History</b>
                <table class="table" data-role="table"
                       data-show-inspector-button="true"
                       data-horizontal-scroll="true">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Office</th>
                            <th data-cls-column="bg-cyan fg-white text-center">Age</th>
                            <th data-cls-column="bg-orange fg-white text-center">Start date</th>
                            <th data-cls-column="bg-green fg-white text-right">Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>