<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link  href="~/css/appstyle.css" rel="stylesheet" type="text/css" asp-append-version=true/>
   
    <style>
        .blBG{
          background:url(/images/peakpx.jpg) fixed no-repeat center;
            -moz-background-size:cover;
            background-size:cover;
            -webkit-background-size: cover;
        }
    </style>
</head>
<body class="blBG" >   
        @RenderBody()
</body>
</html>
